In [1]:
print("name")

name

In [2]:
print(name)

NameError: name 'name' is not defined

In [3]:
name : str = "Muhammad Jibran Rehan"

print(name)

Muhammad Jibran Rehan

In [ ]:
name : str = "Muhammad Jibran Rehan"

print(type(name))
print(name)

In [4]:
name : str = 'Muhammad Jibran Rehan'

print(type(name))
print(name)

<class 'str'>
Muhammad Jibran Rehan

In [5]:
name : str = """Muhammad Jibran Rehan"""

print(type(name))
print(name)

<class 'str'>
Muhammad Jibran Rehan

In [8]:
message : str = "Python Students \n father's Name"
print(message)

Python Students
 father's Name

In [9]:
message : str = '"Python" Students \n father Name'
print(message)

"Python" Students
 father Name

In [ ]:
message : str = """ "Python" Students \n father's Name"""
print(message)

In [23]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = "15"
age1 : int = str(15)

card : str = "Python Student Card\n Student Name: "+ name + "\n Age:" + age + "\n Father Name: " + father_name + "\n Education: " + education
print(card)

Python Student Card
 Student Name: Muhammad Jibran Rehan
 Age:15
 Father Name: Rehan Farooq Ul Haq
 Education: IX

In [ ]:
print(7 + 8 + 2)

17

# " \\" means line continue

In [28]:
print(7 + \
      8 + \
      2)

17

## Define multi line strng """ """, ''' '''

In [ ]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = """
Python Student Card
Student Name: ....
Father Name: .....
Education: .....
Age: .....
"""

print(card)

Python Student Card
Student Name: {name}
Father Name: .....
Education: .....
Age: .....

# F string

In [34]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = f"""
Python Student Card
Student Name: {name}
Father Name: {father_name}
Education: {education}
Age: {age}
"""

print(card)

Python Student Card
Student Name: Muhammad Jibran Rehan
Father Name: Rehan Farooq Ul Haq
Education: IX
Age: 15